$tablet-width: 768px;
$desktop-width: 1200px;

.page-header {
    display: flex;
    justify-content: space-between;
}

.page__body {
    margin: 0px auto;
    padding: 0;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

.intro {
    min-height: 500px;
    background-image: url("../img/background_mobile.png");
    background-repeat: no-repeat;
    text-align: center;
}

.program__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.program__item {
    display: block;
    width: 324px;
}

.how-it-works__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.example {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.example__text {
    display: block;
}

.cooperation {
    display: flex;
    justify-content: space-between
}

.page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
    .page__body {
        width: 768px;
    }

    .intro {
        height: 870px;
        //background-image: url("../img/index-can-tablet.jpg");
        background-repeat: no-repeat;
    }

    .how-it-works__item {
        width: 324px;
    }
}

.program__list {
    list-style: none;
}

@media (min-width: $desktop-width) {
    .page__body {
        width: 1200px;
    }

    .how-it-works__item {
        width: 245px;
    }

    .example__block {
        width: 500px;
    }
}